hr {
  border: 1px solid #000;
}
.cta-btn {
  margin-right: 10px;
}

@media (max-width: 812px) {
  .cta-btn {
    margin-bottom: 15px;
    margin-right: 10px;
    width: 100%;
  }
}

@media (min-width: 813px) {
  .container {
    width: 50%;
  }
  .cta-btn {
    width: 50%;
    margin-left: 150px;
    margin-bottom: 20px;
  }
}
