hr {
  border: 1px solid #000;
}
.cta-btn {
  margin-right: 10px;
}

@media (max-width: 812px) {
  .cta-btn {
    margin-bottom: 15px;
    margin-right: 10px;
    width: 100%;
    font-size: 12px;
  }
}

@media (min-width: 813px) {
  .container div {
    text-align: center;
  }
  #mainSection {
    width: 50%;
    margin: auto;
  }
  .cta-btn {
    font-size: 12px;
  }
}

